@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/geomanist-regular.woff2') format('woff2'),
    url('../fonts/geomanist-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/geomanist-book.woff2') format('woff2'),
    url('../fonts/geomanist-book.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-light.woff2') format('woff2'),
    url('../fonts/montserrat-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-semibold.woff2') format('woff2'),
    url('../fonts/montserrat-semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}