html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  box-sizing: border-box;
  line-height: 1.2;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, figcaption, figure, main, footer, header, nav, section, details, summary {
  display: block; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

pre {
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

small {
  font-size: 80%; }

b,
strong {
  font-weight: bold; }

td img {
  vertical-align: top; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

* {
  /* Remove default webkit and possible mozilla styles. Keeping this as :active to remove browser styles */
  /*-moz-appearance: none;
  -webkit-appearance: none;*/ }

*,
*:before,
*:after {
  box-sizing: inherit; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

template {
  display: none; }

/* MEDIA ELEMENT */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */ }

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

svg:not(:root) {
  overflow: hidden; }

img {
  border: none; }

/* FORMS */
button,
input,
optgroup,
select,
textarea {
  font: inherit; }

label,
input[type="radio"],
input[type="checkbox"],
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

button,
input,
select,
textarea {
  margin: 0;
  vertical-align: middle; }

button {
  width: auto;
  overflow: visible; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */ }

[disabled] {
  cursor: default; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

html {
  font: 14px/1.4 Arial, Helvetica, sans-serif;
  background: #f5f6f8;
  color: #333; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

html {
  background: #323a4f;
  color: #fff; }

html, body, .wrapper {
  height: 100%; }

.wrapper {
  font-size: 0;
  text-align: center; }
  .wrapper:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }

.main {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
  max-width: 95%;
  width: 290px;
  margin-bottom: 15px; }

.login-title {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 20px; }

.inp,
.btn {
  display: block;
  width: 100%; }
  .inp:focus,
  .btn:focus {
    outline: none; }

.inp {
  background: #394359;
  border: 0;
  border-radius: 0;
  color: #fff;
  height: 60px;
  padding: 0 20px; }

.inp_name {
  border-radius: 4px 4px 0 0; }

.inp_pass {
  border-top: 1px solid #333c50;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 0 #2f384d; }

.btn {
  background: #327ab6;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 0 #2e71a9;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 17px;
  padding-top: 4px;
  text-transform: uppercase;
  height: 53px; }
  .btn:active {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 1px 0 #2e71a9; }

.login-frontend_link {
  margin-top: 20px; }
  .login-frontend_link a {
    color: #7e8391;
    padding: 4px 0 5px; }

::-webkit-input-placeholder {
  color: #6e7d8f;
  opacity: 1; }

::-moz-placeholder {
  color: #6e7d8f;
  opacity: 1; }

:-ms-input-placeholder {
  color: #6e7d8f;
  opacity: 1; }

.tl_error {
  color: #e73d4a;
  margin-bottom: 10px; }

/*# sourceMappingURL=login.css.map */
