.footer {
  background: #262a30;
  color: #7d7f83;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 40px 10px 50px;
  text-align: center;

  > div {
    @extend .clearfix;
  }

  .logo {
    display: block;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
  }

  .lang {
    margin-bottom: 30px;

    .dropdown {
      display: inline-block;
    }

    .dropdown-btn {
      background: #2f3238;
      border-radius: 3px;
      color: #fff;
      font-style: italic;
      height: 40px;
      line-height: 40px;
      padding: 0 18px;
      position: relative;
      width: 190px;
    }
  }

  &__casinos {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
    li {
      margin-bottom: 24px;
    }
  }

  &__nav {
    margin-bottom: 50px;

    li {
      margin-bottom: 24px;
    }
  }

  &__social {
    margin-bottom: 20px;

    ul {
      display: inline-block;
      text-align: left;
    }

    li {
      margin-bottom: 20px;
    }

    svg {
      background: #31353b;
      border-radius: 50%;
      display: inline-block;
      fill: #989a9d;
      vertical-align: middle;
      margin: -2px 14px 0 0;
      width: 33px;
      height: 33px;
    }
  }

  &__awareness {
    @extend .disable-select;
    font-size: 0;
    text-align: center;
    margin-bottom: 25px;

    > * {
      display: inline-block;
      vertical-align: middle;
      height: 35px;
      margin: 10px 15px;

      &:nth-child(1) {
        width: 35px;
      }

      &:nth-child(2) {
        width: 31px;
      }

      &:nth-child(3) {
        width: 226px;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__copyright {
    clear: both;
    text-align: center;
  }
}

@media (min-width: $min-tablet-width) {
  .footer {
    padding-top: 50px;
    text-align: left;

    > div {
      margin: 0 auto;
      max-width: 600px;
    }

    .lang {
      clear: right;
      float: right;
    }

    &__casinos {
      float: left;
    }

    &__nav {
      float: left;
    }

    &__copyright {
      br {
        display: none;
      }
    }
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .footer {
    .lang {
      margin-bottom: 50px;
    }

    &__nav {
      float: right;
      width: 190px;
    }

    &__social {
      float: left;
      clear: left;
      padding-top: 5px;
      margin-bottom: 50px;

      ul {
        display: block;
      }

      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 33px 0 0;
      }
    }

    &__awareness {
      float: left;
      text-align: left;
      margin: -6px 0 0 -15px;
    }
  }
}

@media (min-width: $min-desktop-width) {
  .footer {
    padding-top: 70px;

    > div {
      max-width: 1120px;
    }

    .lang {
      margin: 0;
    }

    &__casinos {
      margin-right: 75px;
      padding-top: 10px;
      width: 270px;
    }

    &__nav {
      margin-right: 25px;
      padding-top: 10px;
      width: 190px;
    }

    &__social {
      margin-bottom: 0;
      padding-top: 6px;

      li {
        margin-bottom: 13px;
      }

      &:after {
        display: table;
        content: '';
        clear: both;
      }
    }

    &__awareness {
      margin-left: 250px;
      margin-right: 250px;
    }


    &__copyright {
      clear: left;
      float: left;
      padding-top: 10px;
    }
  }
}

