.dropdown {
    @extend .disable-select;
    position: relative;
    &.opened {
        .dropdown-menu {
            @include transform(translateZ(0) !important);
            @include transition(opacity 0.2s ease, transform 0.2s ease);
            visibility: visible;
            opacity: 1;
        }
    }
}

.dropdown-btn {
    cursor: pointer;
    display: block;
    position: relative;
    white-space: nowrap;
}

.dropdown-menu {
    @include abs-pos(null, 100%, 0);
    @include transform(translate3d(0, 20px, 0));
    @include transition(opacity 0.2s ease, visibility 0s ease 0.2s, transform 0s ease 0.2s);
    background: #fff;
    box-shadow: 0 0 18px rgba(0,0,0,.2);
    color: #242a2e;
    display: block !important;
    font-size: 14px;
    list-style: none;
    min-width: 100%;
    text-align: left;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    z-index: 60;
    &:before {
        @include abs-pos(null, -7px, 10px);
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        content: '';
    }
}

div.dropdown-menu {
    padding: 20px 22px 0;
}

ul.dropdown-menu {
    line-height: 63px;
    a {
        display: block;
        height: 63px;
        padding: 0 18px;
        &:hover {
            background: #f2f2f2;
            text-decoration: none;
        }
    }
    li {
        position: relative;
        &:before {
            @include abs-pos(18px, 0, 18px);
            background: #f2f2f2;
            content: '';
            height: 1px;
        }
        &:first-child:before {
            display: none;
        }
    }
}

.dropdown--up {
    .dropdown-menu {
        @include transform(translate3d(0, -20px, 0));
        top: auto;
        bottom: 100%;
        &:before {
            @include transform(rotate(180deg));
            top: auto;
            bottom: -7px;
        }
    }
}

