.lang {
    span {
        &:after {
            color: #858689;
            content: '...';
            display: inline-block;
            font-size: 25px;
            font-style: normal;
            height: 10px;
            line-height: 10px;
            margin: -15px 0 0 10px;
            vertical-align: middle;
        }
    }
    span,
    a {
        &:before {
            border-radius: 50%;
            margin: -4px 10px 0 0;
        }
    }
    .gb:before {
        background-image: url('../images/flags/GB.png');
    }
    .se:before {
        background-image: url('../images/flags/SE.png');
    }
    .fi:before {
        background-image: url('../images/flags/FI.png');
    }
}