
.navigation {
    > ul {
        > li {
            img {
                margin-right:2px;
                vertical-align:middle;
                position:relative;
                top:-1px;
            }
        }
        ul {
            padding:0 0 9px 24px !important;
            a {
                font-weight:normal;
                line-height:19px;
            }
        }
    }
}
.navigation .tl_level_2
.navigation .active {
    color:#77ac45;
}