html {
    font: 14px/1.4 Arial, Helvetica, sans-serif;
    background: #f5f6f8;
    color: #404548;
}

body {

}

ul {
    list-style: none;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {

    }
}
