@import "reset";
@import "mixins";

@import "base";

html, body, .wrapper {
    height: 100%;
}

.wrapper {
    text-align: center;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.main {
    display: inline-block;
    vertical-align: middle;
    max-width: 95%;
}