.casino {
  @extend .add_line;

  .rate_large {
    margin-bottom: 2px;
  }

  &__top {
    text-align: center;
    position: relative;
    z-index: 10;
    .content_block {
      position: relative;
    }
    .inner {
      position: relative;
    }
  }
}

.casino-logo {
  background: #2c3438 no-repeat 50% 50% / contain;
  display: block;
  height: 133px;
  margin-bottom: 25px;
}

.casino-title {
  font: bold 26px/1.3 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.casino-content {
  .content_block {
    @extend .clearfix;
  }
}

.casino-tabs {
  @extend .disable-select;
}

.casino-review {
  background: #fff;
  padding: 15px 15px 20px;
}

.casino-lang {
  .flag {
    &:before {
      margin: -3px 9px 0 0;
      width: 20px;
      height: 14px;
    }
  }
}

.rate_description {
  position: relative;

  .rate_large {
    display: block;
  }

  > span {
    cursor: pointer;
    text-decoration: underline;
  }

  &-details {
    @include abs-pos(50%, 100%);
    @include transition(opacity 0.2s ease, visibility 0s ease 0.2s);
    background: #fff;
    color: #1b1d1e;
    box-shadow: 0 0 40px rgba(0, 0, 0, .4);
    margin-top: 10px;
    padding: 1px 15px 15px;
    text-align: left;
    visibility: hidden;
    opacity: 0;

    &.opened {
      @include transition(opacity 0.2s ease);
      visibility: visible;
      opacity: 1;
    }
  }

  &-title {
    font-weight: bold;
    margin: 14px 0 3px 2px;
  }
}

@media (max-width: $max-mobile-width) {
  .casino {
    .rate_large {
      span {
        color: #5c676c;
      }
    }

    .breadcrumbs {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__top {
      background: none !important;
      .content_block {
        padding: 0;
        max-width: none;
      }
    }
  }
  .casino-title {
    padding: 0 15px;
  }
  .casino-content {
    .content_block {
      max-width: none;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
  .rate_description {
    &-details {
      @include transform(translateX(-50%));
    }
  }
}

@media (min-width: $min-tablet-width) {
  .casino {
    &__top {
      background: #b0b0b0 no-repeat 50% 50% / cover;
      color: #ffffff;
      &:before {
        @include abs-pos(0, 0, 0, 0);
        background: #000;
        content: '';
        opacity: 0.4;
      }
      .content_block {
        min-height: 400px;
        padding-bottom: 30px;
      }
    }

    .rate_large {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
    }
  }
  .casino-logo {
    @include abs-pos(null, null, 20px, -40px);
    margin: 0;
    width: 285px;
    height: 270px;
  }
  .casino-title {
    font-size: 36px;
  }
  .casino-review {
    padding: 25px;
  }

  .rate_description {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    &-details {
      left: 0;
    }
  }
}

@media (max-width: $max-tablet-width) {
  .casino-tabs {
    font-size: 0;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    div {
      background: #e6e5e5;
      border-top: 3px solid #d2d2d2;
      color: #6e7172;
      cursor: pointer;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      vertical-align: middle;
      padding: 20px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 50%;
      &.active {
        background: #fff;
        border-color: #000;
        color: #31383c;
        cursor: default;
      }
    }
  }

  .casino-review {
    display: none;

    &.active {
      display: block;
    }
  }
}

@media (min-width: $min-desktop-width) {
  .casino {
    .breadcrumbs {
      padding-left: 85px;
    }

    &__top {
      text-align: left;
      .inner {
        padding: 50px 0 0 85px;
      }
    }
  }

  .casino-logo {
    bottom: -30px;
    width: 380px;
    height: 360px;
  }

  .casino-tabs {
    display: none;
  }
  .casino-content {
    background: #fff;
  }
  .casino-review {
    background: none;
    float: left;
    padding: 0 55px 0 85px;
    width: calc(100% - 380px);
  }

  .rate_description {
    &-details {
      bottom: 100%;
      top: auto;
      left: 50%;
      margin-bottom: 10px;
    }
  }
}