.text {
    line-height: 1.7;
    .content_block {
        padding-top: 0;
    }
    h1,
    .h1 {
        font: 22px/1.6 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0;
        margin-bottom: 10px;
    }
    h2,
    .h2 {
        font-size: 18px;
        letter-spacing: 0.5px;
        margin-bottom: 16px;
        &:not(:first-child) {
            margin-top: 35px;
        }
    }
    h3 {

    }
    a {
        color: #c33e3e;
        &:hover {
            text-decoration: underline;
        }
    }
    p,
    ul {
        margin-bottom: 25px;
    }
    ul {
        list-style: disc;
        padding-left: 25px;
    }
    li {
        margin-bottom: 10px;
    }
    blockquote {
        background: #f5f6f7;
        margin: 0 0 25px;
        padding: 24px 24px 1px;
    }
}

@media (min-width: $min-tablet-width) {
    .text {
        font-size: 16px;
        line-height: 1.8;
        h1 {
            font-size: 28px;
            letter-spacing: 1px;
        }
        h2 {
            font-size: 22px;
            margin-bottom: 10px;
        }
        ul {
            padding-left: 45px;
        }
        blockquote {
            float: right;
            margin-left: 40px;
            width: 280px;
        }
    }
}

@media (min-width: $min-desktop-width) {
    .text {
        blockquote {
            padding: 25px 40px 6px;
            width: 330px;
        }
    }
}